##
## DATABASE_URL is used by:
## 1. `sqlx::query!` macros that do compile time checks to validate the queries.
## 2. `sqlx migrate run` command.
## 3. The server side, to connect to the database.
##

DATABASE_URL="postgres://username:password@localhost:5443/dbname"
